main.spec
ReceiveExample.py
SendExample.py
build/main/Analysis-00.toc
build/main/base_library.zip
build/main/COLLECT-00.toc
build/main/EXE-00.toc
build/main/graph-main.dot
build/main/main.exe
build/main/main.pkg
build/main/PKG-00.toc
build/main/PYZ-00.pyz
build/main/PYZ-00.toc
build/main/warn-main.txt
build/main/xref-main.html
build/main/localpycs/pyimod01_archive.pyc
build/main/localpycs/pyimod02_importers.pyc
build/main/localpycs/pyimod03_ctypes.pyc
build/main/localpycs/pyimod04_pywin32.pyc
build/main/localpycs/struct.pyc
dist/main.kv
dist/main/main.exe
dist/main/_internal/_asyncio.pyd
dist/main/_internal/_bz2.pyd
dist/main/_internal/_ctypes.pyd
dist/main/_internal/_decimal.pyd
dist/main/_internal/_elementtree.pyd
dist/main/_internal/_hashlib.pyd
dist/main/_internal/_lzma.pyd
dist/main/_internal/_multiprocessing.pyd
dist/main/_internal/_overlapped.pyd
dist/main/_internal/_queue.pyd
dist/main/_internal/_socket.pyd
dist/main/_internal/_ssl.pyd
dist/main/_internal/_uuid.pyd
dist/main/_internal/base_library.zip
dist/main/_internal/freetype.dll
dist/main/_internal/glew32.dll
dist/main/_internal/libcrypto-3.dll
dist/main/_internal/libffi-8.dll
dist/main/_internal/libjpeg-9.dll
dist/main/_internal/libmodplug-1.dll
dist/main/_internal/libogg-0.dll
dist/main/_internal/libopus-0.dll
dist/main/_internal/libopusfile-0.dll
dist/main/_internal/libpng16-16.dll
dist/main/_internal/libssl-3.dll
dist/main/_internal/libtiff-5.dll
dist/main/_internal/libwebp-7.dll
dist/main/_internal/portmidi.dll
dist/main/_internal/pyexpat.pyd
dist/main/_internal/python311.dll
dist/main/_internal/SDL2_image.dll
dist/main/_internal/SDL2_mixer.dll
dist/main/_internal/SDL2_ttf.dll
dist/main/_internal/SDL2.dll
dist/main/_internal/select.pyd
dist/main/_internal/unicodedata.pyd
dist/main/_internal/VCRUNTIME140_1.dll
dist/main/_internal/VCRUNTIME140.dll
dist/main/_internal/zlib1.dll
dist/main/_internal/certifi/cacert.pem
dist/main/_internal/certifi/py.typed
dist/main/_internal/docutils/docutils.conf
dist/main/_internal/docutils/parsers/rst/include/isoamsa.txt
dist/main/_internal/docutils/parsers/rst/include/isoamsb.txt
dist/main/_internal/docutils/parsers/rst/include/isoamsc.txt
dist/main/_internal/docutils/parsers/rst/include/isoamsn.txt
dist/main/_internal/docutils/parsers/rst/include/isoamso.txt
dist/main/_internal/docutils/parsers/rst/include/isoamsr.txt
dist/main/_internal/docutils/parsers/rst/include/isobox.txt
dist/main/_internal/docutils/parsers/rst/include/isocyr1.txt
dist/main/_internal/docutils/parsers/rst/include/isocyr2.txt
dist/main/_internal/docutils/parsers/rst/include/isodia.txt
dist/main/_internal/docutils/parsers/rst/include/isogrk1.txt
dist/main/_internal/docutils/parsers/rst/include/isogrk2.txt
dist/main/_internal/docutils/parsers/rst/include/isogrk3.txt
dist/main/_internal/docutils/parsers/rst/include/isogrk4-wide.txt
dist/main/_internal/docutils/parsers/rst/include/isogrk4.txt
dist/main/_internal/docutils/parsers/rst/include/isolat1.txt
dist/main/_internal/docutils/parsers/rst/include/isolat2.txt
dist/main/_internal/docutils/parsers/rst/include/isomfrk-wide.txt
dist/main/_internal/docutils/parsers/rst/include/isomfrk.txt
dist/main/_internal/docutils/parsers/rst/include/isomopf-wide.txt
dist/main/_internal/docutils/parsers/rst/include/isomopf.txt
dist/main/_internal/docutils/parsers/rst/include/isomscr-wide.txt
dist/main/_internal/docutils/parsers/rst/include/isomscr.txt
dist/main/_internal/docutils/parsers/rst/include/isonum.txt
dist/main/_internal/docutils/parsers/rst/include/isopub.txt
dist/main/_internal/docutils/parsers/rst/include/isotech.txt
dist/main/_internal/docutils/parsers/rst/include/mmlalias.txt
dist/main/_internal/docutils/parsers/rst/include/mmlextra-wide.txt
dist/main/_internal/docutils/parsers/rst/include/mmlextra.txt
dist/main/_internal/docutils/parsers/rst/include/README.txt
dist/main/_internal/docutils/parsers/rst/include/s5defs.txt
dist/main/_internal/docutils/parsers/rst/include/xhtml1-lat1.txt
dist/main/_internal/docutils/parsers/rst/include/xhtml1-special.txt
dist/main/_internal/docutils/parsers/rst/include/xhtml1-symbol.txt
dist/main/_internal/docutils/writers/html4css1/html4css1.css
dist/main/_internal/docutils/writers/html4css1/template.txt
dist/main/_internal/docutils/writers/html5_polyglot/italic-field-names.css
dist/main/_internal/docutils/writers/html5_polyglot/math.css
dist/main/_internal/docutils/writers/html5_polyglot/minimal.css
dist/main/_internal/docutils/writers/html5_polyglot/plain.css
dist/main/_internal/docutils/writers/html5_polyglot/responsive.css
dist/main/_internal/docutils/writers/html5_polyglot/template.txt
dist/main/_internal/docutils/writers/html5_polyglot/tuftig.css
dist/main/_internal/docutils/writers/latex2e/default.tex
dist/main/_internal/docutils/writers/latex2e/docutils.sty
dist/main/_internal/docutils/writers/latex2e/titlepage.tex
dist/main/_internal/docutils/writers/latex2e/titlingpage.tex
dist/main/_internal/docutils/writers/latex2e/xelatex.tex
dist/main/_internal/docutils/writers/odf_odt/styles.odt
dist/main/_internal/docutils/writers/pep_html/pep.css
dist/main/_internal/docutils/writers/pep_html/template.txt
dist/main/_internal/docutils/writers/s5_html/themes/README.txt
dist/main/_internal/docutils/writers/s5_html/themes/big-black/__base__
dist/main/_internal/docutils/writers/s5_html/themes/big-black/framing.css
dist/main/_internal/docutils/writers/s5_html/themes/big-black/pretty.css
dist/main/_internal/docutils/writers/s5_html/themes/big-white/framing.css
dist/main/_internal/docutils/writers/s5_html/themes/big-white/pretty.css
dist/main/_internal/docutils/writers/s5_html/themes/default/framing.css
dist/main/_internal/docutils/writers/s5_html/themes/default/opera.css
dist/main/_internal/docutils/writers/s5_html/themes/default/outline.css
dist/main/_internal/docutils/writers/s5_html/themes/default/pretty.css
dist/main/_internal/docutils/writers/s5_html/themes/default/print.css
dist/main/_internal/docutils/writers/s5_html/themes/default/s5-core.css
dist/main/_internal/docutils/writers/s5_html/themes/default/slides.css
dist/main/_internal/docutils/writers/s5_html/themes/default/slides.js
dist/main/_internal/docutils/writers/s5_html/themes/medium-black/__base__
dist/main/_internal/docutils/writers/s5_html/themes/medium-black/pretty.css
dist/main/_internal/docutils/writers/s5_html/themes/medium-white/framing.css
dist/main/_internal/docutils/writers/s5_html/themes/medium-white/pretty.css
dist/main/_internal/docutils/writers/s5_html/themes/small-black/__base__
dist/main/_internal/docutils/writers/s5_html/themes/small-black/pretty.css
dist/main/_internal/docutils/writers/s5_html/themes/small-white/framing.css
dist/main/_internal/docutils/writers/s5_html/themes/small-white/pretty.css
dist/main/_internal/kivy/_clock.cp311-win_amd64.pyd
dist/main/_internal/kivy/_event.cp311-win_amd64.pyd
dist/main/_internal/kivy/_metrics.cp311-win_amd64.pyd
dist/main/_internal/kivy/properties.cp311-win_amd64.pyd
dist/main/_internal/kivy/weakproxy.cp311-win_amd64.pyd
dist/main/_internal/kivy/core/audio/audio_sdl2.cp311-win_amd64.pyd
dist/main/_internal/kivy/core/clipboard/_clipboard_sdl2.cp311-win_amd64.pyd
dist/main/_internal/kivy/core/image/_img_sdl2.cp311-win_amd64.pyd
dist/main/_internal/kivy/core/text/_text_sdl2.cp311-win_amd64.pyd
dist/main/_internal/kivy/core/text/text_layout.cp311-win_amd64.pyd
dist/main/_internal/kivy/core/window/_window_sdl2.cp311-win_amd64.pyd
dist/main/_internal/kivy/core/window/window_info.cp311-win_amd64.pyd
dist/main/_internal/kivy/graphics/boxshadow.cp311-win_amd64.pyd
dist/main/_internal/kivy/graphics/buffer.cp311-win_amd64.pyd
dist/main/_internal/kivy/graphics/cgl.cp311-win_amd64.pyd
dist/main/_internal/kivy/graphics/compiler.cp311-win_amd64.pyd
dist/main/_internal/kivy/graphics/context_instructions.cp311-win_amd64.pyd
dist/main/_internal/kivy/graphics/context.cp311-win_amd64.pyd
dist/main/_internal/kivy/graphics/fbo.cp311-win_amd64.pyd
dist/main/_internal/kivy/graphics/gl_instructions.cp311-win_amd64.pyd
dist/main/_internal/kivy/graphics/instructions.cp311-win_amd64.pyd
dist/main/_internal/kivy/graphics/opengl_utils.cp311-win_amd64.pyd
dist/main/_internal/kivy/graphics/opengl.cp311-win_amd64.pyd
dist/main/_internal/kivy/graphics/scissor_instructions.cp311-win_amd64.pyd
dist/main/_internal/kivy/graphics/shader.cp311-win_amd64.pyd
dist/main/_internal/kivy/graphics/stencil_instructions.cp311-win_amd64.pyd
dist/main/_internal/kivy/graphics/svg.cp311-win_amd64.pyd
dist/main/_internal/kivy/graphics/tesselator.cp311-win_amd64.pyd
dist/main/_internal/kivy/graphics/texture.cp311-win_amd64.pyd
dist/main/_internal/kivy/graphics/transformation.cp311-win_amd64.pyd
dist/main/_internal/kivy/graphics/vbo.cp311-win_amd64.pyd
dist/main/_internal/kivy/graphics/vertex_instructions.cp311-win_amd64.pyd
dist/main/_internal/kivy/graphics/vertex.cp311-win_amd64.pyd
dist/main/_internal/kivy/graphics/cgl_backend/cgl_debug.cp311-win_amd64.pyd
dist/main/_internal/kivy/graphics/cgl_backend/cgl_gl.cp311-win_amd64.pyd
dist/main/_internal/kivy/graphics/cgl_backend/cgl_glew.cp311-win_amd64.pyd
dist/main/_internal/kivy/graphics/cgl_backend/cgl_mock.cp311-win_amd64.pyd
dist/main/_internal/kivy/graphics/cgl_backend/cgl_sdl2.cp311-win_amd64.pyd
dist/main/_internal/kivy/lib/gstplayer/_gstplayer.cp311-win_amd64.pyd
dist/main/_internal/kivy_install/data/settings_kivy.json
dist/main/_internal/kivy_install/data/style.kv
dist/main/_internal/kivy_install/data/fonts/DejaVuSans.ttf
dist/main/_internal/kivy_install/data/fonts/Roboto-Bold.ttf
dist/main/_internal/kivy_install/data/fonts/Roboto-BoldItalic.ttf
dist/main/_internal/kivy_install/data/fonts/Roboto-Italic.ttf
dist/main/_internal/kivy_install/data/fonts/Roboto-Regular.ttf
dist/main/_internal/kivy_install/data/fonts/RobotoMono-Regular.ttf
dist/main/_internal/kivy_install/data/glsl/default.fs
dist/main/_internal/kivy_install/data/glsl/default.png
dist/main/_internal/kivy_install/data/glsl/default.vs
dist/main/_internal/kivy_install/data/glsl/header.fs
dist/main/_internal/kivy_install/data/glsl/header.vs
dist/main/_internal/kivy_install/data/images/background.jpg
dist/main/_internal/kivy_install/data/images/cursor.png
dist/main/_internal/kivy_install/data/images/defaultshape.png
dist/main/_internal/kivy_install/data/images/defaulttheme-0.png
dist/main/_internal/kivy_install/data/images/defaulttheme.atlas
dist/main/_internal/kivy_install/data/images/image-loading.gif
dist/main/_internal/kivy_install/data/images/image-loading.zip
dist/main/_internal/kivy_install/data/images/testpattern.png
dist/main/_internal/kivy_install/data/keyboards/azerty.json
dist/main/_internal/kivy_install/data/keyboards/de_CH.json
dist/main/_internal/kivy_install/data/keyboards/de.json
dist/main/_internal/kivy_install/data/keyboards/en_US.json
dist/main/_internal/kivy_install/data/keyboards/es_ES.json
dist/main/_internal/kivy_install/data/keyboards/fr_CH.json
dist/main/_internal/kivy_install/data/keyboards/qwerty.json
dist/main/_internal/kivy_install/data/keyboards/qwertz.json
dist/main/_internal/kivy_install/data/logo/kivy-icon-16.png
dist/main/_internal/kivy_install/data/logo/kivy-icon-24.png
dist/main/_internal/kivy_install/data/logo/kivy-icon-32.png
dist/main/_internal/kivy_install/data/logo/kivy-icon-48.png
dist/main/_internal/kivy_install/data/logo/kivy-icon-64.ico
dist/main/_internal/kivy_install/data/logo/kivy-icon-64.png
dist/main/_internal/kivy_install/data/logo/kivy-icon-128.png
dist/main/_internal/kivy_install/data/logo/kivy-icon-256.png
dist/main/_internal/kivy_install/data/logo/kivy-icon-512.png
dist/main/_internal/kivy_install/modules/__init__.py
dist/main/_internal/kivy_install/modules/_webdebugger.py
dist/main/_internal/kivy_install/modules/console.py
dist/main/_internal/kivy_install/modules/cursor.py
dist/main/_internal/kivy_install/modules/inspector.py
dist/main/_internal/kivy_install/modules/joycursor.py
dist/main/_internal/kivy_install/modules/keybinding.py
dist/main/_internal/kivy_install/modules/monitor.py
dist/main/_internal/kivy_install/modules/recorder.py
dist/main/_internal/kivy_install/modules/screen.py
dist/main/_internal/kivy_install/modules/showborder.py
dist/main/_internal/kivy_install/modules/touchring.py
dist/main/_internal/kivy_install/modules/webdebugger.py
dist/main/_internal/kivy_install/modules/__pycache__/__init__.cpython-311.pyc
dist/main/_internal/kivy_install/modules/__pycache__/_webdebugger.cpython-311.pyc
dist/main/_internal/kivy_install/modules/__pycache__/console.cpython-311.pyc
dist/main/_internal/kivy_install/modules/__pycache__/cursor.cpython-311.pyc
dist/main/_internal/kivy_install/modules/__pycache__/inspector.cpython-311.pyc
dist/main/_internal/kivy_install/modules/__pycache__/joycursor.cpython-311.pyc
dist/main/_internal/kivy_install/modules/__pycache__/keybinding.cpython-311.pyc
dist/main/_internal/kivy_install/modules/__pycache__/monitor.cpython-311.pyc
dist/main/_internal/kivy_install/modules/__pycache__/recorder.cpython-311.pyc
dist/main/_internal/kivy_install/modules/__pycache__/screen.cpython-311.pyc
dist/main/_internal/kivy_install/modules/__pycache__/showborder.cpython-311.pyc
dist/main/_internal/kivy_install/modules/__pycache__/touchring.cpython-311.pyc
dist/main/_internal/kivy_install/modules/__pycache__/webdebugger.cpython-311.pyc
dist/main/_internal/PIL/_imaging.cp311-win_amd64.pyd
dist/main/_internal/PIL/_imagingcms.cp311-win_amd64.pyd
dist/main/_internal/PIL/_imagingft.cp311-win_amd64.pyd
dist/main/_internal/PIL/_imagingmath.cp311-win_amd64.pyd
dist/main/_internal/PIL/_imagingtk.cp311-win_amd64.pyd
dist/main/_internal/PIL/_webp.cp311-win_amd64.pyd
dist/main/_internal/pygame/_freetype.cp311-win_amd64.pyd
dist/main/_internal/pygame/base.cp311-win_amd64.pyd
dist/main/_internal/pygame/bufferproxy.cp311-win_amd64.pyd
dist/main/_internal/pygame/color.cp311-win_amd64.pyd
dist/main/_internal/pygame/constants.cp311-win_amd64.pyd
dist/main/_internal/pygame/display.cp311-win_amd64.pyd
dist/main/_internal/pygame/draw.cp311-win_amd64.pyd
dist/main/_internal/pygame/event.cp311-win_amd64.pyd
dist/main/_internal/pygame/font.cp311-win_amd64.pyd
dist/main/_internal/pygame/freesansbold.ttf
dist/main/_internal/pygame/freetype.dll
dist/main/_internal/pygame/image.cp311-win_amd64.pyd
dist/main/_internal/pygame/imageext.cp311-win_amd64.pyd
dist/main/_internal/pygame/joystick.cp311-win_amd64.pyd
dist/main/_internal/pygame/key.cp311-win_amd64.pyd
dist/main/_internal/pygame/libjpeg-9.dll
dist/main/_internal/pygame/libogg-0.dll
dist/main/_internal/pygame/libopus-0.dll
dist/main/_internal/pygame/libpng16-16.dll
dist/main/_internal/pygame/mask.cp311-win_amd64.pyd
dist/main/_internal/pygame/math.cp311-win_amd64.pyd
dist/main/_internal/pygame/mixer_music.cp311-win_amd64.pyd
dist/main/_internal/pygame/mixer.cp311-win_amd64.pyd
dist/main/_internal/pygame/mouse.cp311-win_amd64.pyd
dist/main/_internal/pygame/pixelarray.cp311-win_amd64.pyd
dist/main/_internal/pygame/pixelcopy.cp311-win_amd64.pyd
dist/main/_internal/pygame/pygame_icon.bmp
dist/main/_internal/pygame/rect.cp311-win_amd64.pyd
dist/main/_internal/pygame/rwobject.cp311-win_amd64.pyd
dist/main/_internal/pygame/scrap.cp311-win_amd64.pyd
dist/main/_internal/pygame/SDL2_image.dll
dist/main/_internal/pygame/SDL2_mixer.dll
dist/main/_internal/pygame/SDL2_ttf.dll
dist/main/_internal/pygame/SDL2.dll
dist/main/_internal/pygame/surface.cp311-win_amd64.pyd
dist/main/_internal/pygame/surflock.cp311-win_amd64.pyd
dist/main/_internal/pygame/time.cp311-win_amd64.pyd
dist/main/_internal/pygame/transform.cp311-win_amd64.pyd
dist/main/_internal/pygame/zlib1.dll
dist/main/_internal/pywin32_system32/pywintypes311.dll
dist/main/_internal/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/INSTALLER
dist/main/_internal/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/LICENSE
dist/main/_internal/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/METADATA
dist/main/_internal/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/RECORD
dist/main/_internal/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/REQUESTED
dist/main/_internal/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/top_level.txt
dist/main/_internal/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/WHEEL
dist/main/_internal/setuptools/_vendor/jaraco/text/Lorem ipsum.txt
dist/main/_internal/websockets/speedups.cp311-win_amd64.pyd
dist/main/_internal/websockets-15.0.1.dist-info/entry_points.txt
dist/main/_internal/websockets-15.0.1.dist-info/INSTALLER
dist/main/_internal/websockets-15.0.1.dist-info/LICENSE
dist/main/_internal/websockets-15.0.1.dist-info/METADATA
dist/main/_internal/websockets-15.0.1.dist-info/RECORD
dist/main/_internal/websockets-15.0.1.dist-info/REQUESTED
dist/main/_internal/websockets-15.0.1.dist-info/top_level.txt
dist/main/_internal/websockets-15.0.1.dist-info/WHEEL
dist/main/_internal/wheel-0.45.1.dist-info/entry_points.txt
dist/main/_internal/wheel-0.45.1.dist-info/INSTALLER
dist/main/_internal/wheel-0.45.1.dist-info/LICENSE.txt
dist/main/_internal/wheel-0.45.1.dist-info/METADATA
dist/main/_internal/wheel-0.45.1.dist-info/RECORD
dist/main/_internal/wheel-0.45.1.dist-info/REQUESTED
dist/main/_internal/wheel-0.45.1.dist-info/WHEEL
dist/main/_internal/win32/win32api.pyd
dist/main/_internal/win32/win32file.pyd
dist/main/_internal/win32/win32gui.pyd
